:root {
  --animation-time: 125ms;
  --animation-time-bottom: 300ms;
}

body {
  overflow-y: hidden;
  animation: scrollbarShow 1ms ease 1500ms;
  animation-fill-mode: forwards;
}

@keyframes scrollbarShow {
  from {
    overflow-y: hidden;

  }
  to {
    overflow-y: auto;
  }
}

.app {
  overflow-x: hidden;
  position: relative;
}

.app > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.app > div:first-child > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.app > div:first-child > div > div:first-child {
  /* background-color: #202e27;   */
  background-color: #202E27;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='71' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231b2822' fill-opacity='0.52'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.52'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  
  position: absolute;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
  animation: curtain 2000ms ease 500ms;
  animation-fill-mode: forwards;
  border-right: 12px #1a4e26 solid;
}
.app > div:first-child > div > div:last-child {
  /* background-color: #202e27;   */
  background-color: #202E27;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='71' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%231b2822' fill-opacity='0.52'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.52'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  animation: curtain 2000ms ease 500ms;
  animation-fill-mode: forwards;
  border-left: 12px #1a4e26 solid;
}

@keyframes curtain {
  0% {
    width: 50%;
    border-width: 12px;
  }
  50% {
    border-width: 12px;
    width: 0%;
  }
  100% {
    width: 0%;
    border-width: 0;
  }
}


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 12px;
  background-color: #2D6356;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(37, 168, 28, 0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #90D0C2; 
  -webkit-box-shadow: inset 0 0 6px rgba(49, 90, 45, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #90D0C2; 
}